.deal {
	background-color: #077190;
	color: white;
	width: var(--theme-wrapper-width);
	max-width: var(--theme-wrapper-max-width);
	margin: 0 auto;
	height: 300px;
	overflow: hidden;
	position: relative;
	padding: 30px;
	&__bgImg{
		height: 400px;
		position: absolute;
		right: 350px;
		top: -50px;
	}
	&__ad{
		height:300px;
		position: absolute;
		right: 0;
		top:0;
		border-left: 10px solid #fff;
	}
	h2{
		font-size: 2em;
		margin: 0;
	}
	p{
		margin: 0;
	}
}
